*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  
}
body{
    background: rgba(182, 202, 214, 0.185);
    background: rgb(230,229,229);
    
}
.hero{
    width:100vw;
    height:110vh;
   
}


#head{
    position:absolute;
    top: 20px;
    left: 50px;
}
.sec2{
    background-color: #fff;
    max-width: 400px;
}

.icon-container{
    width: 130px;
    position: absolute;
    top: 100px ;
    left: 60px;
    background-color: #fff;
    height: 140px;
    font-size: 0.9rem;

}
.icon-container2{
    position: absolute;
    bottom: 100px;
    left: 40%;
    width: 130px;
    background-color: #fff;
    height: 140px;
    font-size: 0.9rem;

}
.socio-links a{
    text-decoration: none;
}
.icon-container3{
    position: absolute;
    bottom: 150px;
    left: 70px;
    width: 140px;
    box-shadow: 1px 1px 2px gray inset, -1px -1px 2px gray inset;
    background-color: #fff;
    height: 70px;
    font-size: 0.9rem;

}
.flower{
    position: absolute;
    bottom: 0px;
    width: 70%;
    z-index: -1;
    background: linear-gradient(6deg, rgba(230,229,229,1) 29%,rgba(182, 202, 214, 0.185) 100%);
    background-position:right;
    left: 0px; 
}
.or{
    position: relative;
}
.or-text{
    position: absolute;
    background-color: #fff;
    width: 30px;
    top: -14px;
    left: 45%;

}
